{{!-- index.hbs --}}
<h1 class="text-3xl font-bold mb-4">Tasks Page</h1>

<ul class="list-disc pl-6 space-y-2">
    <li>
        <a href="/tasks/import-excel" class="text-blue-500 hover:underline">
            Import Excel Data
        </a>
    </li>
    <li>
        <a href="/tasks/todo" class="text-blue-500 hover:underline">
            Todo List
        </a>
    </li>
</ul>
